@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #000;
  color: #fff;
}

body {
  font-family: var(--font-microgramma), ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::selection {
  background: #fff;
  color: #000;
}
